{% load static i18n %}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="{% url 'mainapp:main_page' %}">
            <img src="{% static 'img/logo.png' %}" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li
                        class="nav-item {% if request.resolver_match.view_name == 'mainapp:news' %}active{% endif %}">
                    <a class="nav-link" href="{% url 'mainapp:news' %}">{% translate 'News' %}</a>
                </li>
                <li
                        class="nav-item {% if request.resolver_match.view_name == 'mainapp:courses' %}active{% endif %}">
                    <a class="nav-link" href="{% url 'mainapp:courses' %}">{% translate 'Courses' %}</a>
                </li>
                <li
                        class="nav-item {% if request.resolver_match.view_name == 'mainapp:contacts' %}active{% endif %}">
                    <a class="nav-link" href="{% url 'mainapp:contacts' %}">{% translate 'Contacts' %}</a>
                </li>
                {% if user.is_authenticated %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="ddProfile"
                           role="button" data-toggle="dropdown" aria-haspopup="true"
                           aria-expanded="false">
                            {% translate 'Your profile' %}
                        </a>
                        <div class="dropdown-menu" aria-labelledby="ddProfile">
                            <a class="dropdown-item" href="{% url 'authapp:edit' user.pk %}">{% translate 'Edit profile' %}</a>
                            <a class="dropdown-item" href="#">{% translate 'My courses' %}</a>
                            <div class="dropdown-divider"></div>
                            {% if user.is_staff %}
                                <a class="dropdown-item" href="{% url 'admin:index' %}">{% translate 'Moderation' %}</a>
                            {% endif %}
                            {% if user.is_superuser %}
                                <a class="dropdown-item" href="{% url 'admin:index' %}">{% translate 'Administration' %}</a>
                                <a class="dropdown-item" href="{% url 'mainapp:log_list' %}">{% translate 'Logs' %}</a>
                            {% endif %}
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{% url 'authapp:logout' %}">{% translate 'Logout' %}</a>
                        </div>
                    </li>
                {% else %}
                    <a class="nav-link"
                       href="">{{ user.first_name|default:user.username }}</a>
                    <li><a class="nav-link" href="{% url 'authapp:login' %}">{% translate 'Login' %}</a>
                    </li>
                {% endif %}

            </ul>

        <div class="row">
            <div class="col p-0 border-right">
                <form action="{% url 'set_language' %}" method="POST">
                    {% csrf_token %}
                    <input name="language" value="ru" type="hidden">
                    <button class="btn btn-light" type="submit">🇷🇺</button>
                </form>
            </div>
            <div class="col p-0 border-left">
                <form action="{% url 'set_language' %}" method="POST">
                    {% csrf_token %}
                    <input name="language" value="en" type="hidden">
                    <button class="btn btn-light" type="submit">🇬🇧   </button>
                </form>
            </div>
        </div>
        </div>
    </div>
</nav>