{% extends 'authapp/base.html' %}
{% load i18n %}

{% block content %}
    {% if form.errors %}
        <p>{% translate 'Incorrect login or password' %}</p>
    {% endif %}
    {% if next %}
        {% if user.is_authenticated %}
            <p>{% translate "Your account doesn't have access to this page. To proceed, please login with an account that has access." %}</p>
        {% else %}
            <p>{%  translate "Please login to see this page." %}</p>
        {% endif %}
    {% endif %}
    <form method="post">
        {% csrf_token %}
        <p>
            <input type="text" name="username" autofocus="" autocapitalize="none" autocomplete="username"
                   maxlength="150" class="textinput textInput form-control" required="" id="id_username"
                   placeholder="Username">
        </p>
        <p>
            <input type="password" name="password" autocomplete="current-password"
                   class="textinput textInput form-control" required="" id="id_password" placeholder="Password">
        </p>
        <p>
            <button type="submit" class="btn btn-primary btn-block">{% translate 'login' %}</button>
        </p>
    </form>
    <p>
    <div class="row justify-content-between">
        <div class="col">
            <a href="{% url 'authapp:register' %}"><small>{% translate "Sign up" %}</small></a>
        </div>
        <div class="col">
            <a href="#"><small>{% translate 'Forgot password?' %}</small></a>
        </div>
    </div>
    </p>
{% endblock %}